<div>
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973; padding-left: 0px;">
    <div>
      <img alt="Logo" src="assets/Restaurant_Logo.jpg" style="width: 100px; height: 80px;">
      <a style="color: white;margin-left: 20px;font-size: 25px;font-weight: bolder;" 
        routerLink="/login">RESTAURANT MANAGEMENT APP</a>
    </div>
    <div class="nav-links" *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>

    <!-- ADMIN MENU -->
    <div class="nav-links" *ngIf="isAdminLoggedIn">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/admin/category" routerLinkActive="active">Category</a>
      <a nz-button nzType="link" routerLink="/admin/reservations" routerLinkActive="active">Reservations</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" (click)="logOut()">Logout</a>
    </div>

    <!-- CUSTOMER MENU -->
    <div class="nav-links" *ngIf="isCustomerLoggedIn">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/customer/reservation" routerLinkActive="active">Reservation</a>
      <a nz-button nzType="link" routerLink="/customer/view-reservations" routerLinkActive="active">Reservations</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" (click)="logOut()">Logout</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>